.recent
{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 90vh;
}
.recent h1
{
    font-size: 50px;
    color: var(--gray);
    font-weight: 600;
    margin-top: 20px;
}
.recent hr
{
    width: 200px;
    height: 6px;
    border-radius: 60px;
    background-color: var(--brand-color-2);
    border: none;
}
.recent-item
{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}