.hero{
    display: flex;
    min-height: 100vh;
    background: linear-gradient(180deg,var(--brand-color-3),var(--brand-color-4));
}
.hero > div{
    flex: 1;
}
.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 100px;
}
.hero-left h2{
    font-size: 26px;
    font-weight: 600;
    color: #090909;
}
.hero-left p{
    font-size: 60px;
    font-weight: 700;
}
.hero-hand-icon
{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-hand-icon img{
    width: 100px;
}
.hero-latest-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: var(--brand-color-1);
    gap: 20px;
}
.hero-right img
{
    height: 90vh;
}
.hero-right
{
    display: flex;
    justify-content: center;
    align-items: center;
}