.navbar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #eaeaea;
}

.nav-logo a
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-decoration: none;
    color: var(--gray);
}
.nav-logo p
{
    font-size: 35px;
    font-weight: 400;
    margin: 0px;
}
.nav-menu
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 15px;
}

.nav-menu li{
    cursor: pointer;
}
.nav-menu a{
    color: inherit;
    text-decoration: none;
}

.nav-menu hr
{
    width: 40px;
    height: 3px;
    background-color: var(--brand-color-2);
    border: none;
}
.nav-login-cart
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}